.App {
  text-align: center;
}
body,html, *{
  box-sizing: border-box;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main_component{
  background: #444;
  width: 100%;
  margin: auto;
  padding: 1em;
  margin: 1em 0 0 0;
  text-align: center;
  font-size: 2em;
  color: #fff;
}
.bottom{
  background: #0288D1;
}
.top{
  background: #689F38;
}
.right{
  background: #D32F2F;
}
.left{
  background: #009688;
}